.fundo {
  display: block;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #23232c !important;
}
.fundo-inner {
  max-width: 320px;
  margin: 0 auto;
  font-size: 1.3rem;
}

.logo {
  max-width: 100vh;
  max-height: 25vh;
}

.textMenu {
  color: white;
}

input::placeholder {
  font-size: 17px;
}
