.main-text {
	font-weight: bold;
	font-size: 1.8rem;
	color: white;
	align-self: center;
}

.main-icon a {
	left: 1em;
	font-size: 30px;
	color: white;
}

.toggle-button {
	position: absolute;
	margin-top: 7px;
	margin-left: 15px;
	width: 300px;
	height: 45px;
	background: transparent;
	border: none;
}

.modal.left .modal-dialog {
	position: fixed;
	margin: auto;
	width: 320px;
	height: 100%;
	-webkit-transform: translate3d(0%, 0, 0);
	-ms-transform: translate3d(0%, 0, 0);
	-o-transform: translate3d(0%, 0, 0);
	transform: translate3d(0%, 0, 0);
}

.modal.left .modal-content {
	height: 100%;
	overflow-y: auto;
}

.modal.left .modal-body {
	padding: 15px 15px 80px;
}

.modal.left.fade .modal-dialog {
	left: -320px;
	-webkit-transition: opacity 0.3s linear, left 0.3s ease-in-out;
	-moz-transition: opacity 0.3s linear, left 0.3s ease-in-out;
	-o-transition: opacity 0.3s linear, left 0.3s ease-in-out;
	transition: opacity 0.3s linear, left 0.3s ease-in-out;
}

.modal.left.fade.show .modal-dialog {
	left: 0;
}

/* ----- MODAL STYLE ----- */
.modal-content {
	border-radius: 0;
	border: none;
}

.modal-header {
	border-bottom-color: #eeeeee;
	background-color: #fafafa;
}
