* {
	margin: 0;
	padding: 0;
	outline: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background-color: #20202b;
	padding-right: 0 !important;
}

#label-qr {
	display: flex;
	justify-content: center;
	padding-bottom: 20px;
	padding-top: 20px;
}

#QRCode {
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	background-color: rgb(228, 227, 227);
	width: 500px;
	height: 400px;
	border-radius: 7px;
}

#formArea {
	display: flex;
	justify-content: center;
	flex-direction: row;
	margin: 20px;
}

#inputForm {
	background-color: rgb(211, 211, 211);
	width: 400px;
}
#qrInput {
	border-radius: 4px;
}

#colQRform {
	background-color: #e8eef2e5;
}
